<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyCuaHang.Properties.Settings.QUANLYCUAHANGConnectionString"
            connectionString="Data Source=DESKTOP-LKT5F30;Initial Catalog=QUANLYCUAHANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>